<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->{% block doctitle %}<title>Main</title>{% endblock %}<!-- InstanceEndEditable --> 
</style>
</head>
<body>
<h1>
<!-- InstanceBeginEditable name="heading" -->{% block heading %}Manta CMS Default Template{% endblock %}<!-- InstanceEndEditable -->
</h1>
<!-- InstanceBeginEditable name="content" -->{% block content %}{% endblock %}<!--  InstanceEndEditable -->
<!-- InstanceBeginEditable name="footer" -->{% block footer %}<p>This is the <em>fallback</em> footer.</p>{% endblock %}<!--  InstanceEndEditable -->

</body>
<!-- InstanceEnd --></html>
