[submodule "lib/node-debug"]
	path = lib/node-debug
	url = http://github.com/botanicus/node_debug.git
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = http://github.com/LearnBoost/mongoose.git
[submodule "lib/express"]
	path = lib/express
	url = http://github.com/visionmedia/express.git
